 *Q1*
   * A = [1,2,3,4,5,6], B = [13, 21, 34] \
   * A_B = [1,2,3,4,5,6,13, 21, 34]

In [1]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [2]:
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

*Q2*
 * How do you create an identity matrix in python?

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
np.identity(2)

array([[1., 0.],
       [0., 1.]])

In [5]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

*Q3*
  * Which of the following fuel type code has the lowest average fuel cost per unit burned?

## LOADING THE DATASET

In [6]:
data_fuel = pd.read_csv('dataQuiz_1.csv')

In [7]:
data_fuel.head(10).T

,0,1,2,3,4,5,6,7,8,9
record_id,f1_fuel_1994_12_1_0_7,f1_fuel_1994_12_1_0_10,f1_fuel_1994_12_2_0_1,f1_fuel_1994_12_2_0_7,f1_fuel_1994_12_2_0_10,f1_fuel_1994_12_2_0_13,f1_fuel_1994_12_2_1_1,f1_fuel_1994_12_2_1_10,f1_fuel_1994_12_2_2_10,f1_fuel_1994_12_4_0_1
utility_id_ferc1,1,1,2,2,2,2,2,2,2,4
report_year,1994,1994,1994,1994,1994,1994,1994,1994,1994,1994
plant_name_ferc1,rockport,rockport total plant,gorgas,barry,chickasaw,e. c. gaston-unit 5,joseph m. farley,resondent's portion,respondent's portion,units 1-3
fuel_type_code_pudl,coal,coal,coal,coal,gas,coal,nuclear,coal,coal,coal
fuel_unit,ton,ton,ton,ton,mcf,ton,kgU,ton,ton,ton
fuel_qty_burned,5.37749e+06,1.04869e+07,2.97868e+06,3.73948e+06,40533,2.12493e+06,2260,5.37213e+06,817520,1.47123e+06
fuel_mmbtu_per_unit,16.59,16.592,24.13,23.95,1,23.922,0.064094,24.84,24.29,22.484
fuel_cost_per_unit_burned,18.59,18.58,39.72,47.21,2.77,44.24,28.77,58.54,33.97,28.73
fuel_cost_per_unit_delivered,18.53,18.53,38.12,45.99,2.77,43.25,0,55.13,34.65,28.11
fuel_cost_per_mmbtu,1.121,1.12,1.65,1.97,2.57,1.85,0.45,2.36,1.4,1.278

In [8]:
code_cost = data_fuel.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned']

### **from below we can waste has the lowest fuel cost per unit burned**

In [9]:
code_cost.min()

fuel_type_code_pudl
coal         0.00
gas          0.00
nuclear      0.00
oil          0.00
other     -119.04
waste     -276.08
Name: fuel_cost_per_unit_burned, dtype: float64

*Q4*
 * What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

#### *we can do this by using the describe column and looking up the 'fuel_mmbtu_per_unit' column*
 * std = 10.60
 * 75th percentile = 17.01

In [10]:
data_fuel.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

*Q5*
  * What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

#### Skewness
 * for fuel_qty_burned = 15.85(to 2.d.p) from the cell below:

In [11]:
data_fuel.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

##### kurtosis
  * for fuel_qty_burned = 651.37 (to 2.d.p)

In [12]:
data_fuel.kurt(axis=0)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

*Q6*
 * ##### Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?
 
 * #### Ans: Feature: Fuel_unit, Total:180, Percent:0.610
 
 _This can be observed from the code cells below:__

In [13]:
data_fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [14]:
percentage = (data_fuel.isnull().sum()/len(data_fuel))*100
print(percentage)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

*Q7*
  * ###### The feature with missing values falls under what category? What missing value imputation technique would you use?
  - The feature is *'fuel_unit'* and we can check its category using the cell below:
  - The output "O" means it is a categorical data types and mode imputation is the best for from experts

In [15]:
data_fuel.fuel_unit.dtypes

dtype('O')

#### *Q8* 
 - Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
 
 - This can be observed by inspecting the output of the cell below:

In [16]:
data_fuel.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

*Q9*
 * For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [17]:
report_yr = data_fuel.groupby('report_year')[['report_year']]

In [18]:
coal_costBurned = data_fuel.groupby(['fuel_type_code_pudl' ,'report_year'])[['fuel_cost_per_unit_burned']]

In [19]:
coal_costBurned.count()

                                 fuel_cost_per_unit_burned
fuel_type_code_pudl report_year
coal                1994                               475
                    1995                               475
                    1996                               431
                    1997                               417
                    1998                               431
...                                                    ...
waste               2014                                18
                    2015                                18
                    2016                                17
                    2017                                15
                    2018                                16

[148 rows x 1 columns]

*Q10* 
 - Which year has the highest average fuel cost per unit delivered?
 
 - Ans: 1997

In [20]:
highest_cost = data_fuel.groupby('report_year')[['fuel_cost_per_unit_delivered']]

In [21]:
highest_cost.max()['fuel_cost_per_unit_delivered']

report_year
1994      45115.000
1995       2396.770
1996    7793482.000
1997    7964521.000
1998     270604.000
1999       2891.100
2000    1168000.000
2001      34381.000
2002      31416.000
2003      34518.000
2004     132884.000
2005       8651.000
2006       1431.000
2007       4850.872
2008      10490.000
2009     730166.000
2010      44033.320
2011       9545.000
2012      10129.000
2013     135315.000
2014     136410.000
2015     140706.000
2016      69440.000
2017       3584.335
2018     245652.000
Name: fuel_cost_per_unit_delivered, dtype: float64