In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
data_energy = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [6]:
data_energy.head(10).T

,0,1,2,3,4,5,6,7,8,9
date,2016-01-11 17:00:00,2016-01-11 17:10:00,2016-01-11 17:20:00,2016-01-11 17:30:00,2016-01-11 17:40:00,2016-01-11 17:50:00,2016-01-11 18:00:00,2016-01-11 18:10:00,2016-01-11 18:20:00,2016-01-11 18:30:00
Appliances,60,60,50,50,60,50,60,60,60,70
lights,30,30,30,40,40,40,50,50,40,40
T1,19.89,19.89,19.89,19.89,19.89,19.89,19.89,19.8567,19.79,19.8567
RH_1,47.5967,46.6933,46.3,46.0667,46.3333,46.0267,45.7667,45.56,45.5975,46.09
T2,19.2,19.2,19.2,19.2,19.2,19.2,19.2,19.2,19.2,19.23
RH_2,44.79,44.7225,44.6267,44.59,44.53,44.5,44.5,44.5,44.4333,44.4
T3,19.79,19.79,19.79,19.79,19.79,19.79,19.79,19.73,19.73,19.79
RH_3,44.73,44.79,44.9333,45,45,44.9333,44.9,44.9,44.79,44.8633
T4,19,19,18.9267,18.89,18.89,18.89,18.89,18.89,18.89,18.89
RH_4,45.5667,45.9925,45.89,45.7233,45.53,45.73,45.79,45.8633,45.79,46.0967
T5,17.1667,17.1667,17.1667,17.1667,17.2,17.1333,17.1,17.1,17.1667,17.1
RH_5,55.2,55.2,55.09,55.09,55.09,55.03,54.9667,54.9,55,55
T6,7.02667,6.83333,6.56,6.43333,6.36667,6.3,6.26333,6.19,6.12333,6.19
RH_6,84.2567,84.0633,83.1567,83.4233,84.8933,85.7667,86.09,86.4233,87.2267,87.6267
T7,17.2,17.2,17.2,17.1333,17.2,17.1333,17.1333,17.1,17.1667,17.2
RH_7,41.6267,41.56,41.4333,41.29,41.23,41.26,41.2,41.2,41.4,41.5
T8,18.2,18.2,18.2,18.1,18.1,18.1,18.1,18.1,18.1,18.1
RH_8,48.9,48.8633,48.73,48.59,48.59,48.59,48.59,48.59,48.59,48.59
T9,17.0333,17.0667,17,17,17,17,17,17,17,17
RH_9,45.53,45.56,45.5,45.4,45.4,45.29,45.29,45.29,45.29,45.29
T_out,6.6,6.48333,6.36667,6.25,6.13333,6.01667,5.9,5.91667,5.93333,5.95
Press_mm_hg,733.5,733.6,733.7,733.8,733.9,734,734.1,734.167,734.233,734.3
RH_out,92,92,92,92,92,92,92,91.8333,91.6667,91.5
Windspeed,7,6.66667,6.33333,6,5.66667,5.33333,5,5.16667,5.33333,5.5
Visibility,63,59.1667,55.3333,51.5,47.6667,43.8333,40,40,40,40
Tdewpoint,5.3,5.2,5.1,5,4.9,4.8,4.7,4.68333,4.66667,4.65
rv1,13.2754,18.6062,28.6427,45.4104,10.0841,44.9195,47.2338,33.0399,31.4557,3.08931
rv2,13.2754,18.6062,28.6427,45.4104,10.0841,44.9195,47.2338,33.0399,31.4557,3.08931

## renaming some columns

In [7]:
columns_names = { "T1": "Temperature_kitchen","RH_1": "Humidity_kitchen", "T2": "Temperature_living",
                 "RH_2": "Humidity_living", "T3": "Temperature_laundry", "RH_3": "Humidity_laundry",
                 "T4": "Temperature_office", "RH_4": "Humidity_office", "T5":"Temperature_bathroom",
                 "RH_5": "Humidity_bathroom", "T6": "Temperature_outside", "RH_6": "Humidity_outside",
                 "T7": "Temperature_ironing", "RH_7": "Humidity_ironing", "T8": "Temperature_teenager",
                 "RH_8": "Humidity_teenager", "T9": "Temperature_parents", "RH_9": "Humidity_parents", 
                 "To": "Temperature_outside", "rv1": "Random_variable1", "rv2": "Random_variable2" }

In [8]:
data_energy = data_energy.rename(columns=columns_names)

In [9]:
data_energy.columns

Index(['date', 'Appliances', 'lights', 'Temperature_kitchen',
       'Humidity_kitchen', 'Temperature_living', 'Humidity_living',
       'Temperature_laundry', 'Humidity_laundry', 'Temperature_office',
       'Humidity_office', 'Temperature_bathroom', 'Humidity_bathroom',
       'Temperature_outside', 'Humidity_outside', 'Temperature_ironing',
       'Humidity_ironing', 'Temperature_teenager', 'Humidity_teenager',
       'Temperature_parents', 'Humidity_parents', 'T_out', 'Press_mm_hg',
       'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'Random_variable1',
       'Random_variable2'],
      dtype='object')

In [7]:
data_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  19735 non-null  object
 1   Appliances            19735 non-null  int64
 2   lights                19735 non-null  int64
 3   Temperature_kitchen   19735 non-null  float64
 4   Humidity_kitchen      19735 non-null  float64
 5   Temperature_living    19735 non-null  float64
 6   Humidity_living       19735 non-null  float64
 7   Temperature_laundry   19735 non-null  float64
 8   Humidity_laundry      19735 non-null  float64
 9   Temperature_office    19735 non-null  float64
 10  Humidity_office       19735 non-null  float64
 11  Temperature_bathroom  19735 non-null  float64
 12  Humidity_bathroom     19735 non-null  float64
 13  Temperature_outside   19735 non-null  float64
 14  Humidity_outside      19735 non-null  float64
 15  Temperature_ironing   19735 non-null  float64
 16  Humidity_ironing      19735 non-null  float64
 17  Temperature_teenager  19735 non-null  float64
 18  Humidity_teenager     19735 non-null  float64
 19  Temperature_parents   19735 non-null  float64
 20  Humidity_parents      19735 non-null  float64
 21  T_out                 19735 non-null  float64
 22  Press_mm_hg           19735 non-null  float64
 23  RH_out                19735 non-null  float64
 24  Windspeed             19735 non-null  float64
 25  Visibility            19735 non-null  float64
 26  Tdewpoint             19735 non-null  float64
 27  Random_variable1      19735 non-null  float64
 28  Random_variable2      19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

From the above cell, we can see that the most of the columns of the dataset are of numeric data types, Only the date is an object data type and from instructions it is not needed for the task of the quiz

### Dropping the two columns from instruction

In [10]:
data_energy = data_energy.drop(['date', 'lights'], axis = 1) 
data_energy.head(10).T

,0,1,2,3,4,5,6,7,8,9
Appliances,60.000000,60.000000,50.000000,50.000000,60.000000,50.000000,60.000000,60.000000,60.000000,70.000000
Temperature_kitchen,19.890000,19.890000,19.890000,19.890000,19.890000,19.890000,19.890000,19.856667,19.790000,19.856667
Humidity_kitchen,47.596667,46.693333,46.300000,46.066667,46.333333,46.026667,45.766667,45.560000,45.597500,46.090000
Temperature_living,19.200000,19.200000,19.200000,19.200000,19.200000,19.200000,19.200000,19.200000,19.200000,19.230000
Humidity_living,44.790000,44.722500,44.626667,44.590000,44.530000,44.500000,44.500000,44.500000,44.433333,44.400000
Temperature_laundry,19.790000,19.790000,19.790000,19.790000,19.790000,19.790000,19.790000,19.730000,19.730000,19.790000
Humidity_laundry,44.730000,44.790000,44.933333,45.000000,45.000000,44.933333,44.900000,44.900000,44.790000,44.863333
Temperature_office,19.000000,19.000000,18.926667,18.890000,18.890000,18.890000,18.890000,18.890000,18.890000,18.890000
Humidity_office,45.566667,45.992500,45.890000,45.723333,45.530000,45.730000,45.790000,45.863333,45.790000,46.096667
Temperature_bathroom,17.166667,17.166667,17.166667,17.166667,17.200000,17.133333,17.100000,17.100000,17.166667,17.100000
Humidity_bathroom,55.200000,55.200000,55.090000,55.090000,55.090000,55.030000,54.966667,54.900000,55.000000,55.000000
Temperature_outside,7.026667,6.833333,6.560000,6.433333,6.366667,6.300000,6.263333,6.190000,6.123333,6.190000
Humidity_outside,84.256667,84.063333,83.156667,83.423333,84.893333,85.766667,86.090000,86.423333,87.226667,87.626667
Temperature_ironing,17.200000,17.200000,17.200000,17.133333,17.200000,17.133333,17.133333,17.100000,17.166667,17.200000
Humidity_ironing,41.626667,41.560000,41.433333,41.290000,41.230000,41.260000,41.200000,41.200000,41.400000,41.500000
Temperature_teenager,18.200000,18.200000,18.200000,18.100000,18.100000,18.100000,18.100000,18.100000,18.100000,18.100000
Humidity_teenager,48.900000,48.863333,48.730000,48.590000,48.590000,48.590000,48.590000,48.590000,48.590000,48.590000
Temperature_parents,17.033333,17.066667,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
Humidity_parents,45.530000,45.560000,45.500000,45.400000,45.400000,45.290000,45.290000,45.290000,45.290000,45.290000
T_out,6.600000,6.483333,6.366667,6.250000,6.133333,6.016667,5.900000,5.916667,5.933333,5.950000
Press_mm_hg,733.500000,733.600000,733.700000,733.800000,733.900000,734.000000,734.100000,734.166667,734.233333,734.300000
RH_out,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,91.833333,91.666667,91.500000
Windspeed,7.000000,6.666667,6.333333,6.000000,5.666667,5.333333,5.000000,5.166667,5.333333,5.500000
Visibility,63.000000,59.166667,55.333333,51.500000,47.666667,43.833333,40.000000,40.000000,40.000000,40.000000
Tdewpoint,5.300000,5.200000,5.100000,5.000000,4.900000,4.800000,4.700000,4.683333,4.666667,4.650000
Random_variable1,13.275433,18.606195,28.642668,45.410389,10.084097,44.919484,47.233763,33.039890,31.455702,3.089314
Random_variable2,13.275433,18.606195,28.642668,45.410389,10.084097,44.919484,47.233763,33.039890,31.455702,3.089314

#### Performing normalisation and splitting the data

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

scaler = MinMaxScaler()
normalised_data_energy = pd.DataFrame(scaler.fit_transform(data_energy), columns=data_energy.columns)
features = normalised_data_energy.drop(columns=['Appliances'])
target = normalised_data_energy['Appliances']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)

print('X_train shape: {}'.format(X_train.shape))
print('y_train shape: {}'.format(y_train.shape))
print('X_test shape: {}'.format(X_test.shape))
print('y_test shape: {}'.format(y_test.shape))

X_train shape: (13814, 26)
y_train shape: (13814,)
X_test shape: (5921, 26)
y_test shape: (5921,)

##### Working on T2 and T6

In [12]:
df_reg = normalised_data_energy[["Temperature_living", "Temperature_outside"]]
df_reg.head().T

                            0         1         2         3         4
Temperature_living   0.225345  0.225345  0.225345  0.225345  0.225345
Temperature_outside  0.381070  0.375443  0.367487  0.363800  0.361859

#### Splitting and reshaping "df_reg' into train and test set

In [16]:
x= df_reg["Temperature_living"].values.reshape(-1,1)
y = df_reg["Temperature_outside"].values.reshape(-1,1)

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=42)

In [17]:
small_regr = LinearRegression()

# Train the model using the training sets
small_regr.fit(xtrain, ytrain)

# Make predictions using the testing set
pred = small_regr.predict(xtest)

In [18]:
pred

array([[0.23928945],
       [0.46794238],
       [0.23108472],
       ...,
       [0.3001772 ],
       [0.4297256 ],
       [0.3217686 ]])

In [19]:
from sklearn.metrics import r2_score

r2_score = r2_score(ytest, pred)
print('R-squared:',(round(r2_score, 2)))

R-squared: 0.64

In [21]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(ytest, pred)

print('MAE:',(round(mae, 2)))

MAE: 0.08

In [22]:
rss = np.sum(np.square(ytest - pred))
print('RSS:',(round(rss, 2)))

RSS: 66.12

In [24]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(ytest, pred))
print('RMSE:',(round(rmse, 3)))

RMSE: 0.106

### Working on the Main dataset

In [13]:
regr = LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
energy_pred = regr.predict(X_test)

print("Training set score: {:.3f}".format(regr.score(X_train, y_train)))
print("Test set score: {:.3f}".format(regr.score(X_test, y_test)))

Training set score: 0.145
Test set score: 0.149

In [14]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, energy_pred)

print('MAE:',(round(mae, 2)))

#rss
import numpy as np
rss = np.sum(np.square(y_test - energy_pred))
print('RSS:',(round(rss, 2)))

#root_mean_squared_error
from sklearn.metrics import  mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, energy_pred))
print('RMSE:',(round(rmse, 3)))

#R-squared
from sklearn.metrics import r2_score

r2_score = r2_score(y_test, energy_pred)
print('R-squared:',(round(r2_score, 2)))

MAE: 0.05
RSS: 45.34
RMSE: 0.088
R-squared: 0.15

In [15]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

#obtain predictions
ridge_pred = ridge_reg.predict(X_test)

print("Training set score: {:.3f}".format(ridge_reg.score(X_train, y_train)))
print("Test set score: {:.3f}".format(ridge_reg.score(X_test, y_test)))

Training set score: 0.145
Test set score: 0.149

In [16]:
from sklearn.metrics import  mean_squared_error

rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
print('RMSE:',(round(rmse, 3)))

RMSE: 0.088

In [17]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

#obtain predictions
lasso_pred = lasso_reg.predict(X_test)

print("Training set score: {:.3f}".format(lasso_reg.score(X_train, y_train)))
print("Test set score: {:.3f}".format(lasso_reg.score(X_test, y_test)))

Training set score: 0.025
Test set score: 0.027

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
print('RMSE:',(round(rmse, 3)))

In [18]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [29]:
xtrain

array([[0.12284953],
       [0.18899927],
       [0.0574267 ],
       ...,
       [0.15265326],
       [0.31504725],
       [0.27550279]])

In [20]:
small_regr_weights = get_weights_df(regr, X_train, 'Small_Model_Weight')

In [21]:
small_regr_weights

                Features  Small_Model_Weight
0       Random_variable2       -2.955112e+11
1        Humidity_living       -4.568809e-01
2                  T_out       -3.216326e-01
3     Temperature_living       -2.363398e-01
4    Temperature_parents       -1.899797e-01
5      Humidity_teenager       -1.576386e-01
6                 RH_out       -7.746282e-02
7       Humidity_ironing       -4.452714e-02
8       Humidity_parents       -3.986054e-02
9   Temperature_bathroom       -1.578388e-02
10   Temperature_kitchen       -3.281051e-03
11           Press_mm_hg        6.866500e-03
12   Temperature_ironing        1.029951e-02
13            Visibility        1.231779e-02
14     Humidity_bathroom        1.602638e-02
15       Humidity_office        2.634378e-02
16    Temperature_office        2.921950e-02
17             Windspeed        2.928201e-02
18      Humidity_outside        3.808552e-02
19      Humidity_laundry        9.593781e-02
20  Temperature_teenager        1.020690e-01
21             Tdewpoint        1.177177e-01
22   Temperature_outside        2.364031e-01
23   Temperature_laundry        2.906266e-01
24      Humidity_kitchen        5.537636e-01
25      Random_variable1        2.955112e+11

In [22]:
small_regr_weights.min()

Features              Humidity_bathroom
Small_Model_Weight         -2.95511e+11
dtype: object